// Basic setting
@mixin left {float: left;}
@mixin right {float: right;}
@mixin clear {@include clearfix;}
@mixin none {display: none;}
@mixin block {display: block;}

@mixin bold {font-weight: 600;}
@mixin normal {font-weight: normal;}
@mixin light {font-weight: 100;}
@mixin light-2 {font-weight: 200;}

.none {@include none;}
.clear {clear: both;}

// Color variables
$white: #fff;
$black: #010103;
$ccc: #ccc;

// Basic
$primary: #3fc3b9;
$secondary: #ef4526;
$header: #363636;
$oil: #333;
$smoke: #eee;
$filter: #d05050;
$jet: #363636;
$column: #F2F2F2;
$bg_lodge: #FCFCFC;
$border: #d3d3d3;

// Alerts
$good: #3BA656;
$bad: #D05050;
$alert: #f2d84b;
$red: $bad;

// Import type from google font
@import url("http://fonts.googleapis.com/css?family=Open+Sans:600,400");
body {
    font-family: 'Open Sans', sans-serif;
    // letter-spacing: rem-calc(1);
}

// Function to make a custom button, don't necessary in this case
@mixin basic-button($bg-color:$primary-color, $text-color: $white, $size: 14, $padding: 35) {
    background: $bg-color;
    color: $text-color;
    font-size: rem-calc($size);
    box-shadow: inset 0 -2px 0 darken($bg-color, 20%);
    padding: rem-calc(11) rem-calc($padding) rem-calc(12);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    &:hover {
        background: darken($bg-color, 5%);
        box-shadow: inset 0 -2px 0 darken($bg-color, 20%);
    }
}

// Button's
.button{
    // @include light-2;
    font-weight: normal;
    // padding: 1em 2em;
    background: rgba($black, 0.8);
    border: none;
    color: $white;
    &:hover {
        color: $white;
        background: $secondary;
        // box-shadow: 0 1px 2px darken($primary-color, 10%);
    }
}

.button.active {
    background: rgba($secondary, 0.9);
}

.button.social {
    @include bold;
    background: darken($primary, 6%);
    border: 1px solid darken($primary, 10%);
    width: 100%;
    padding: 0.75em 2em;
    margin-bottom: 0;
    &:hover {
        background: $secondary;
        border-color: darken($secondary, 10%);
    }
}

#header {
    background: $black;
    border-bottom: 4px solid $white;
    padding: 2em 0;
    img {
        max-width: 75%;
        margin-bottom: 0.75em;
    }
    p {
        color: $white;
        margin-left: 10px;
        margin-bottom: 0;
        letter-spacing: rem-calc(3);
    }
    div:nth-child(2) {
        text-align: right;
        margin-top: 2em;
    }
}

#content {
    background: $black url(../img/background.jpg) top fixed;
    background-size: cover;
    padding-top: 2em;
}

#player, #program, #share {
    padding-bottom: 2em;
    .margin {
        padding: 0.5em;
        background-color: $primary;
        box-shadow: 0 1px 1px rgba($black, 0.5);
    }
    .title-sector {
        font-size: rem-calc(18);
        color: $white;
        margin-bottom: 0.75em;
    }
}

#program, #share {
    .margin {padding: 0.75em;}
}

#player {
    .flex-video {margin-bottom: 0;}
    .canalSelector {
        text-align: center;
        margin-bottom: 0;
        color: $white;
        font-size: rem-calc(20);
        .button {
            @include bold;
            padding: 0.75em 2em;
            margin-bottom: 0.5em;
        }
        span {margin: 0 1em;}
    }
}

#program {
    ul {
        background: darken($primary, 3%);
        border: 1px solid darken($primary, 12%);
        margin-left: 0;
        &:last-child {margin-bottom: 0;}
        li {
            border-right: 1px solid darken($primary, 10%);
            text-align: center;
            color: $white;
            width: 14.28571428571429%;
            padding: 0.75em 0.5em;
            margin-left: 0;
            p {
                margin: 0;
                &:first-child {
                    text-transform: uppercase;
                }
            }
            .time-hour {
                font-size: rem-calc(12);
            }
            &:last-child {
                border-right: none;
            }
            &:nth-child(even) {
                background: darken($primary, 6%);
            }
            &:hover {
                background-color: $secondary;
                cursor: pointer;
            }
        }
        .header {
            background-color: rgba($black, 0.8);
            p {
                position: relative;
                top: 25%;
            }
            &:hover {
                cursor: pointer;
                background-color: $secondary;
            }
        }
    }
}

.tooltip {
    height: 125px;
    div {
        position: relative;
        margin-top: -105px;
        left: 110px;
        width: 280px;
        font-family: 'Open Sans', sans-serif;
    }
    h3 {
        width: 190px;
        text-transform: uppercase;
        color: $white;
        font-size: rem-calc(16);
        margin-bottom: 0;
    }
    p {
        width: 190px;
        color: rgba($white, 0.8);
        font-size: rem-calc(14);
        margin-bottom: 0;
    }
}

#share {
    padding-bottom: 5em;
    a {line-height: 18px;}
    .sprite{
        display: inline-block;
        background-image:url(../img/social.png);
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
    }
    .sprite.facebook {background-position: 0 0;}
    .sprite.twitter {background-position: 0 -45px;}
    .sprite.tumblr {background-position: 0 -91px;}
    .sprite.pinterest {background-position: 0 -136px;}
}

// Small screen
@media only screen and (max-width: 40em) {
}
// Medium screen
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
}

