// Basic setting
@mixin left {float: left;}
@mixin right {float: right;}
@mixin clear {@include clearfix;}
@mixin none {display: none;}
@mixin block {display: block;}

@mixin bold {font-weight: 600;}
@mixin normal {font-weight: normal;}
@mixin light {font-weight: 100;}
@mixin light-2 {font-weight: 200;}

.none {@include none;}
.clear {clear: both;}

// Color variables
$white: #fff;
$black: #000;
$ccc: #ccc;

// Basic
$primary: #3fc3b9;
$secondary: #ef4526;
$header: #363636;
$oil: #333;
$smoke: #eee;
$filter: #d05050;
$jet: #363636;
$column: #F2F2F2;
$bg_lodge: #FCFCFC;
$border: #d3d3d3;

// Alerts
$good: #3BA656;
$bad: #D05050;
$alert: #f2d84b;
$red: $bad;

// Import type from google font
@import url("http://fonts.googleapis.com/css?family=Open+Sans:600,400");

body{
    min-width: 320px;
    font-family: 'Open Sans', sans-serif;
    background-color: $black;
    // letter-spacing: rem-calc(1);
}

h1, h2, h3, h4, h5 {
    @include bold;
    font-family: 'Open Sans', sans-serif;
}

// Function to make a custom button, don't necessary in this case
@mixin basic-button($bg-color:$primary-color, $text-color: $white, $size: 14, $padding: 35) {
    background: $bg-color;
    color: $text-color;
    font-size: rem-calc($size);
    box-shadow: inset 0 -2px 0 darken($bg-color, 20%);
    padding: rem-calc(11) rem-calc($padding) rem-calc(12);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    &:hover {
        background: darken($bg-color, 5%);
        box-shadow: inset 0 -2px 0 darken($bg-color, 20%);
    }
}

// Button's
.button{
    // @include light-2;
    font-weight: normal;
    // padding: 1em 2em;
    background: rgba($black, 0.8);
    border: none;
    color: $white;
    &:hover {
        color: $white;
        background: $secondary;
        // box-shadow: 0 1px 2px darken($primary-color, 10%);
    }
}

.button.active {
    background: rgba($secondary, 0.9);
}

.button.social {
    @include bold;
    background: darken($primary, 6%);
    border: 1px solid darken($primary, 10%);
    width: 100%;
    padding: 0.75em 2em;
    margin-bottom: 0;
    &:hover {
        background: $secondary;
        border-color: darken($secondary, 10%);
    }
}

#header {
    background: $black;
    border-bottom: 4px solid $white;
    padding: 2em 0;
    img {
        max-width: 75%;
        margin-bottom: 0.75em;
    }
    p {
        color: $white;
        margin-left: 10px;
        margin-bottom: 0;
        letter-spacing: rem-calc(3);
    }
    div:nth-child(2) {
        text-align: right;
        margin-top: 2em;
    }
}

#content {
    background: $black url(../img/background2.jpg) top fixed;
    background-size: cover;
    padding-top: 2em;
}

#player, #program, #share {
    padding-bottom: 3em;
    .margin {
        padding: 0.5em;
        background-color: $primary;
        box-shadow: 0 1px 1px rgba($black, 0.5);
    }
    .title-sector, .title-sector-2 {
        font-size: rem-calc(22);
        color: $white;
        margin-bottom: 1em;
        text-align: center;
    }
    .title-sector-2 {
        font-size: rem-calc(18);
        margin-top: -1em;
    }
}

#program, #share {
    .margin {padding: 0.75em;}
}

#player {
    .flex-video {margin-bottom: 0;}
    .canalSelector {
        text-align: center;
        margin-bottom: 0;
        color: $white;
        font-size: rem-calc(20);
        .button {
            @include bold;
            padding: 0.75em 2em;
            margin-bottom: 0.5em;
        }
        span {margin: 0 1em;}
    }
}

// loop musician
.bg-content-loop {
    background: $black;
    border: 5px solid $secondary;
    .row.medium-collapse {
        margin: 0;
    }
}

.bg-header {
    color: $white;
    text-align: center;
    padding: 1em;
    p {
        border-bottom: 1px solid $white;
        font-size: rem-calc(18);
        margin: 0 0 .75em;
        padding-bottom: .75em;
        line-height: 1;
        strong  {
            font-size: rem-calc(24);
        }
        &:last-child {border-bottom: none;}
    }
}

.loop-musician {
    margin: 0;
    padding: 0;
    li {
        @include left;
        position: relative;
        width: 20%;
        list-style: none;
        margin: 0;
        padding: 0;
        border: 5px solid $secondary;
        border-top: none;
        border-right: none;
        img {width: 100%;}
        span {
            @include none;
            z-index: 99999;
            color: $white;
            font-size: rem-calc(14);
            text-shadow: 0 2px 4px rgba($black, .75);
            text-align: center;
            position: absolute;
            width: 50%;
            top: 35%;
            left: 25%;
        }
        &:nth-child(n+6) {border-bottom: none;}
        &:hover {
            span {@include block;}
            img {
                -webkit-filter: opacity(.75);
                filter: opacity(.75);
            }
        }
    }
    .more {
        img {opacity: .80;}
        &:hover {
            img {
                opacity: 1;
                -webkit-filter: opacity(1) contrast(2);
                filter: opacity(1) contrast(2);
            }
        }
    }
}

.disclaimer {
    color: rgba($white, .75);
    font-size: rem-calc(11);
    margin: 0.5em 0.5em 0;
}

// Social buttons
#share {
    padding-bottom: 5em;
    a {line-height: 18px;}
    .sprite{
        display: inline-block;
        background-image:url(../img/social.png);
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
    }
    .sprite.facebook {background-position: 0 3px;}
    .sprite.twitter {background-position: 0 -49px;}
    .sprite.insta {background-position: 0 -100px;}
}

//  Modal content
.flex-video {
    .cover {
        z-index: 9999;
        position: absolute;
        margin-top: -1.5625rem;
        width: 100%;
        height: 100%;
        background-image:url(../img/cover.png);
        background-repeat: no-repeat;
        background-size: cover;
        h3, h5 {
            color: $white;
            margin: 20% 10% 0;
            text-align: center;
            span {@include none;}
            img {
                width: 35%;
                margin-bottom: 1em;
            }
        }
    }
    .cover.none {@include none;}
    .cover.error .error {@include block;}
    .cover.outside .outside {@include block;}
    .cover.end-day-one .end-day-one {@include block;}
    .cover.end-day-two .end-day-two {@include block;}
}

// Footer
footer {
    border-top: 5px solid $white;
    background-color: $black;
    padding: 1em 0 3em;
    p {
        font-size: rem-calc(13);
        margin-bottom: 0;
        color: rgba($white, .5);
    }
}

// Legal.html
#legal {padding-bottom: 3em;}

.tabs.vertical {
    width: 100%;
    max-width: 100%;
}

.tabs.vertical dd, .tabs.vertical .tab-title {
    padding-bottom: 20px;
}

.tabs dd>a, .tabs .tab-title>a {
    padding: 1em;
    font-size: rem-calc(13);
    background-color: $white;
    border-radius: 5px;
    line-height: 1.3;
}

.tabs dd.active a, .tabs .tab-title.active a {
    background-color: $primary;
    color: $white;
}

.tabs-content {
    background-color: $white;
    box-shadow: 0 1px 1px rgba($black, 0.5);
    padding: 2em;
    h2 {
        color: $primary;
    }
    p, h4 {
        margin-left: 1em;
        color: #5e5e5e;
    }
    p {
        color: #777;
        font-size: rem-calc(14);
    }
}

// Soon
#soon {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20%;
    p {
        margin: 0;
        padding: 0 20px;
    }
}

// Small screen
@media only screen and (max-width: 40em) {
    #header {
        img {
            width: 100%;
        }
        p {
            letter-spacing: 0;
            font-size: rem-calc(14);
        }
        div:nth-child(2) {
            margin-top: 1em;
        }
    }
    .button.social {
        margin-bottom: 1em;
        font-size: rem-calc(14);
    }
    #player .canalSelector  {
        .button, span {font-size: rem-calc(14); }
        .button {padding: 0.75em 1.25em;}
    }
    .bg-content-loop {
        h4, h5 {
            color: $white;
            text-align: center;
            // margin-bottom: 0em;
        }
        h5 {font-size: rem-calc(13);}
    }
    .loop-musician li {
        width: 25%;
        border: none;
    }
    .flex-video .cover h3 {font-size: rem-calc(16);}
    #player .canalSelector .button {
        padding: 0.5em;
    }
    #program .title-sector, #program .title-sector-2, #share .title-sector {
        font-size: rem-calc(16);
    }
}
// Medium screen
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .button.social {
        font-size: rem-calc(14);
        padding: 0.75em 1.25em
    }
    .bg-header {
        padding: .75em;
        p {
            strong {font-size: rem-calc(18);}
            font-size: rem-calc(12);
            padding-bottom: .5em;
        }
    }
    .bg-content-loop {
        .small-12 {padding: 0;}
    }
    .flex-video .cover h3{
        font-size: rem-calc(20);
    }
}


// Deprecated
// #program {
//     ul {
//         background: darken($primary, 3%);
//         border: 1px solid darken($primary, 12%);
//         margin-left: 0;
//         li {
//             position: relative;
//             border-right: 1px solid darken($primary, 10%);
//             text-align: center;
//             color: $white;
//             width: 14.28571428571429%;
//             padding: 0 0.5em;
//             margin-left: 0;
//             p {
//                 padding: 0.75em 0 0;
//                 margin: 0;
//                 &:first-child {
//                     text-transform: uppercase;
//                 }
//             }
//             .time-hour {
//                 font-size: rem-calc(12);
//                 padding: 0 0 0.75em;
//             }
//             &:last-child {
//                 border-right: none;
//             }
//             &:nth-child(even) {
//                 background: darken($primary, 6%);
//             }
//             &:hover {
//                 background-color: $secondary;
//                 cursor: pointer;
//             }
//         }
//         .header {
//             background-color: rgba($black, 0.8);
//             p {
//                 position: relative;
//                 top: 15%;
//             }
//             &:hover {
//                 cursor: pointer;
//                 background-color: $secondary;
//             }
//         }
//     }
//     .last {margin-bottom: 0;}
// }

// .tooltip {
//     height: 125px;
//     div {
//         position: relative;
//         margin-top: -105px;
//         left: 110px;
//         width: 280px;
//         font-family: 'Open Sans', sans-serif;
//     }
//     h3 {
//         width: 190px;
//         text-transform: uppercase;
//         color: $white;
//         font-size: rem-calc(16);
//         margin-bottom: 0;
//     }
//     p {
//         width: 190px;
//         color: rgba($white, 0.8);
//         font-size: rem-calc(14);
//         margin-bottom: 0;
//     }
// }

// .ribbon-wrapper {
//     width: 85px;
//     height: 88px;
//     overflow: hidden;
//     position: absolute;
//     top: -5px;
//     right: 0;
// }

// .ribbon {
//     font-size: rem-calc(11);
//     color: $white;
//     text-align: center;
//     -webkit-transform: rotate(45deg);
//     -moz-transform:    rotate(45deg);
//     -ms-transform:     rotate(45deg);
//     -o-transform:      rotate(45deg);
//     position: relative;
//     padding: 2px 0;
//     left: 15px;
//     top: 15px;
//     width: 100px;
//     background-color: $black;
//     -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
//     -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
//     box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
// }

// .ribbon:before, .ribbon:after {
//     content: "";
//     border-top:   3px solid #6e8900;
//     border-left:  3px solid transparent;
//     border-right: 3px solid transparent;
//     position:absolute;
//     bottom: -3px;
// }

// .ribbon:before {
//     left: 0;
// }
// .ribbon:after {
//     right: 0;
// }​

